<footer class="container-fluid bg-dark p-0 m-0"  >
  <div class="d-flex text-white" >
    <!-- col1 -->
    <div class="d-flex flex-column w-25 p-2 text-center ">
      <img src="{{asset('img/logo_vparrot.png')}}" alt="Garage Parrot"/>
      <a class="nav-link" href="{{path('app_service_list')}}">Mentions légales | Conditions générales de ventes</a>  
    </div>
    <!-- col2 -->
    <div class="w-25 p-2 text-center">
      <h5>Adresse</h5>
      <p>32 rue des plantes</p>
      <button class="btn btn-danger ">06.09.12.38.77</button>
    </div>
    <!-- col4 -->
    <div class="w-25 p-2 text-center">
      <h5>Pages</h5>
      <p>Accueil</p>
      <p>Nos occasions</p>
      <p>Contactez-nous</p>
    </div>
    <!-- col4 -->
    <div class="w-25 p-2 text-center">
    

        <h5>Horaires</h5>
         {% for hour in hours %}
                <p class="p-0 m-0">{{ hour.day }} : {{ hour.morning }} / {{ hour.afternoon }}</p>
         {% endfor %}
    </div>
  </div>
</footer>