<footer class="bg-dark p-0 m-0"  >
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12  d-flex align-items-end">
        <div class="text-white p-3  text-center ">
          <img src="{{asset('img/logo_vparrot.png')}}" alt="Garage Parrot" class="img-fluid" />
          <a class="nav-link pt-5" href="{{path('app_cgv')}}">Mentions légales | Conditions générales de ventes</a>  
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="text-white p-3  text-center">
          <h5>Adresse</h5>
           <p>32 rue des plantes</p>
      <button class="btn btn-danger ">06.09.12.38.77</button>
        </div>
      </div>
      <div class="col-md-3 col-sm-126">
        <div class=" text-white p-3 text-center">
          <h5>Pages</h5>
      <p>Accueil</p>
      <p>Nos occasions</p>
      <p>Contactez-nous</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="text-white p-3 text-center">
          <h5>Horaires</h5>
         {% for hour in hours %}
                <p class="p-0 m-0">{{ hour.day }} : {{ hour.morning }}  {{ hour.afternoon }}</p>
         {% endfor %}
        </div>
      </div>
    </div>
  </div>
</footer>