{% extends "base.html.twig" %}

{% block title %}VParrot
{% endblock %}

{% block body %}


<div class="container-fluid p-0">
  <!-- Description -->
  <div class="row mt-4 w-75 mx-auto">
    <h1 class="text-center">Nos occasions</h1> 
    <p  class="text-center">Plus de 2000 voitures en stocks, révisées et garanties. </br>
      Choisissez parmi tous nos modèles.
    </p>  
  </div>
  <!-- End Description -->

  <!-- Filtre -->
  
    <!-- SLIDER de filtrage V3 -->
    <div class="row filter ms-5 mb-5">       
        <!-- Filter price -->
        <div class="col col-lg-4 mx-auto">
          <div class="mx-auto">
            <div class="range ms-5 my-2">
                <label for="amount">Prix :</label>
                <input type="text" id="amount" readonly style="border:0; color:#D92332; font-weight:bold; " > 
            </div>
            <div id="slider-range" class="ms-5 mb-5"  style="width:200px"></div>
          </div>    
        </div>
        <!-- Filter mileage -->
        <div class="col-lg-4 ">
            <div class="range ms-5 my-2">
                <label for="mileage">Kilomètre :</label>
                <input type="text" id="mileage" readonly style="border:0; color:#D92332; font-weight:bold; " > 
            </div>
            <div id="slider-range-mileage" class="ms-5 mb-5"  style="width:200px">
            </div>
        </div>
          <!-- Filter year -->
          <div class="col-lg-4">
            <div class="range ms-5 my-2">
                <label for="year">Année :</label>
                <input type="text" id="year" readonly style="border:0; color:#D92332; font-weight:bold; " > 
            </div>
            <div id="slider-range-year" class="ms-5 mb-5"  style="width:200px">
            </div>
        </div>
    </div>     
    <!-- END  -->

    <!-- Card -->
    <div class="row row-cols-1 row-cols-md-3 g-4 mx-5" id="filteredResults">   
      {% for car in cars %}
      <div class="col">
          <div class="card p-0" id="car-{{car.id}}">
            {% if car.imageName %}
            <img src="{{vich_uploader_asset(car, 'imageFile') }}" alt="Image de la voiture" class="card-img-top" height="75%">
            {% else %}
            <img src="{{ asset('img/logo_vparrot.png') }}" alt="voiture par défaut" class="card-img-top" height="75%">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title my-1">{{car.brand}} {{car.model}}</h5>
              <p class="card-text my-1">{{car.energy}}</p>
              <p class="card-text my-1">Année : {{car.year}}</p>
              <p class="card-text my-1">{{car.mileage}} km</p>
              <p class="card-text my-1">{{car.price}} €</p>
              <a href="{{ path('app_car_show', {'id': car.id}) }}" class="btn btn-danger d-flex justify-content-center">Détail</a>       
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  <!-- End Card -->
</div>
{% endblock %}